bin/*
!bin/linux_amd64
!bin/windows_arm
!bin/mac_os_x
.vscode/settings.json
bin/fillstruct.exe
bin/go-outline.exe
bin/go-symbols.exe
bin/gocode-gomod.exe
bin/gocode.exe
bin/godef.exe
bin/godoctor.exe
bin/golint.exe
bin/gomodifytags.exe
bin/gopkgs.exe
bin/goplay.exe
bin/gorename.exe
bin/goreturns.exe
bin/gotests.exe
bin/guru.exe
bin/impl.exe
pkg/windows_amd64/github.com/cmu440/lspnet.a
pkg/windows_amd64/github.com/cweill/gotests.a
pkg/windows_amd64/github.com/cweill/gotests/gotests/process.a
pkg/windows_amd64/github.com/cweill/gotests/internal/goparser.a
pkg/windows_amd64/github.com/cweill/gotests/internal/input.a
pkg/windows_amd64/github.com/cweill/gotests/internal/models.a
pkg/windows_amd64/github.com/cweill/gotests/internal/output.a
pkg/windows_amd64/github.com/cweill/gotests/internal/render.a
pkg/windows_amd64/github.com/cweill/gotests/internal/render/bindata.a
private/writeup.zip
src/github.com/*
!src/github.com/cmu440
src/golang.org
.vscode/sftp.json
*/.DS_Store
